body {
  padding: 0;
  margin: 0;
}
#root{
  padding: 0;
  margin: 0;
  height: 100%;
}
/* .app{
} */
.app-header {
  margin: auto;
  margin-top: 0;
  
}
.app-hr {
  height: 20px;
  margin:0;
  background-color: tomato;
}
.app-body {
  margin: auto; 
}